<%- startview('artists/index') %>
    <ul class="nav nav-tabs nav-stacked">
      <li ng-repeat="artist in artists | orderBy: 'name' | filter: searchTerm | filter: firstLetter">
      <a href="#/artists/{{artist.id}}"><i class="icon-user"></i> {{artist.name}}</a>
      </li>
    </ul>
<%- endview %>




<%- startview('artists/show') %>
    <h5>{{artist.name}}</h5>
    <ul class="nav nav-tabs nav-stacked">
      <li ng-repeat="song in songs">
        <a href="#/songs/{{song.id}}">{{song.name}}</a>
      </li>
    </ul>
<%- endview %>
