<%- startview('home') %>

<pre>
rendered: <%= new Date().toString() %>
songs: {{songs.length}}
artists: {{artists.length}}
</pre>

  <div class="cell">
    <a class="btn btn-block" href="/?nocache=<%= new Date().valueOf() %>">Reload</a>
  </div>

<%- endview %>

