<%- startview('home') %>

  <div class="cell">
    <a class="btn btn-block" href="#/songs">Songs</a>
    <a class="btn btn-block" href="#/artists">Artists</a>
    <a class="btn btn-block" href="#/playlists">Playlists</a>
  </div>

<%- endview %>

