<!doctype html>
<html lang="en" ng-app="pickbook" <%- manifestTag %>>
<head>
  <meta charset="utf-8">
  <title>pickbook</title>
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="apple-touch-icon" href="/img/iphone_icon.png" />
  <link rel="apple-touch-startup-image" href="/img/iphone_splash.png" />
  <link rel="stylesheet" href="/compiled/pickbook.css"/>
  <style>
    .cell {
      padding: 15px;
    }
    .viewport {
      max-width: 700px;
      margin: 0 auto;
    }
  </style>
</head>
<body class="viewport" ng-controller="mainCtrl">

  <!--search bar-->
  <div ng-show="showSearch">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner" style="padding: 0 10px;">
        <div class="btn-group pull-right">
          <button class="btn btn-inverse" ng-show="letter != 'a'" ng-click="prevPage()">{{prevLetter | uppercase}}</button>
          <button class="btn btn-inverse disabled">{{letter | uppercase}}</button>
          <button class="btn btn-inverse" ng-show="letter != 'z'" ng-click="nextPage()">{{nextLetter | uppercase}}</button>
        </div>
        <form class="navbar-search">
          <input type="text" class="input-medium search-query" ng-model="searchTerm" placeholder="Search">
        </form>
      </div>
    </div>
    <div style="margin-top: 40px;"></div>
  </div>

  <!--ng-view-->
  <div ng-view></div>

  <!--bottom nav-->
  <div style="margin-top: 40px;"></div>
  <div class="navbar navbar-inverse navbar-fixed-bottom" ng-hide="noChrome_ignored">
    <div class="navbar-inner">
      <ul class="nav">
        <li><a href="#"><i class="icon-home icon-white"></i></a></li>
        <li><a href="#/songs">Songs</a></li>
        <li><a href="#/playlists">Playlists</a></li>
      </ul>
    </div>
  </div>


  <% include _welcome %>
  <% include _songs %>
  <% include _artists %>
  <% include _playlists %>

  <script src="/vendor/angular.js"></script>
  <script src="/vendor/underscore.js"></script>
  <script src="/compiled/pickbook.js"></script>
</body>
</html>

