doctype 5
html
  head
    title Bluegrass Lyrics
  style
    body {
      padding: 50px;
      font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    }
    a, a:visited {
      color: #7e1c1d;
      font-weight: bold;
    }
    .song {
      border-bottom: 1px solid #ccc;
      padding: 10px;
    }

  body
    block content
