.hero {
  text-align: center;
  background: #fafafa;
  padding: 20px;
}
.hero h1 {
  font: 100 48px Georgia;
  font-style: italic;
}
.strong {
  font-weight: bold;
}



hr {
  border: 0;
  height: 10px;
}

.cell {
  padding: 10px;
}



.songs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.songs li {
  border-bottom: 1px solid #ccc;
}
.songs li a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.alert {
  padding: 10px;
  background: #FCF8E3;
}

article {
  white-space: nowrap;
  overflow-x: auto;
}
article p {
  line-height: 1.5;
  margin-bottom: 2em;
}

.uppercase {
  text-transform: uppercase;
}


select.alphabet {
  top: 44px;
  border-radius: 0;
  padding-left: 47%;
  font-weight: bold;
}

.menu-spacer {
  padding-top: 44px;
}


/* Override ratchet styles
 *
 * http://bl.ocks.org/4040799
 */

.bar-title {
  background-color: #7e1c1d;
  background-image: -webkit-linear-gradient(top, #7e1c1d 0, #4B100C 100%);
  background-image: linear-gradient(to bottom, #7e1c1d 0, #4B100C 100%);
  border-bottom: 1px solid #000000;
}

.bar-title [class*="button"] {
  background-color: #7e1c1d;
  background-image: -webkit-linear-gradient(top, #7e1c1d 0, #6D1614 100%);
  background-image: linear-gradient(to bottom, #7e1c1d 0, #6D1614 100%);
  border: 1px solid #000000;
}

.bar-title .segmented-controller {
  background-color: #7e1c1d;
  background-image: -webkit-linear-gradient(top, #7e1c1d 0, #6D1614 100%);
  background-image: linear-gradient(to bottom, #7e1c1d 0, #6D1614 100%);
  border: 1px solid #000000;
}

.bar-title .segmented-controller li {
  border-left: 1px solid #000000;
}

.bar-title .segmented-controller li.active {
  background-color: #490C0A;
}
