doctype 5
html
  head
    title Bluegrass Lyrics
    link(rel="stylesheet", href="/web.css")

  body(ng-app="bgWeb", ng-controller="webCtrl")

    include partials

    .main
      div(ng-view)

    block content

    script(src="/vendor/angular.js")
    script(src="/web.js")
