<%- startview('about') %>
<div class="about cell">
  <h1>About</h1>
  <ul>
    <li><strong>John Kael</strong> - maintainer of BluegrassLyrics.com</li>
    <li><strong>Steve Perkins</strong> - developer of mobile site</li>
  </ul>

  <h4>Debug Info</h4>
  <pre>
  rendered: <%= new Date().toString() %>
  </pre>

</div>
<%- endview %>
