<%- startview('favs') %>
    <div class="cell">
      <h5>Favorites</h5>

      <ul class="nav nav-tabs nav-stacked">
        <li ng-repeat="song in favs">
        <a href="#/songs/{{song.id}}"> <strong>{{song.name}}</strong> <br /> {{song.artist}} </a>
        </li>
      </ul>

    </div>
<%- endview %>



