<%- startview('favs') %>

<div ng-include="'navbar.html'"></div>
<div class="favs cell">
  <h2>Favs</h2>

  <ul class="nav nav-tabs nav-stacked">
    <li ng-repeat="song in favSongs">
    <a href="#/songs/{{song.id}}"> <strong>{{song.name}}</strong> <br /> {{song.artist}} </a>
    </li>
  </ul>

</div>

<%- endview %>



