<%- startview('navbar') %>

  <div id="topbar">
    <div class="right">
      <a ng-click="prevPage()">&laquo;</a>
      <a ng-click="nextPage()">&raquo;</a>
    </div>
    <a href='#/home'>Home</a>
  </div>

  <div style="margin-top: 50px;"></div>

<%- endview %>
