<%- startview('playlists/index') %>
  <div class="cell">
    <h5>Playlists</h5>

    <ul class="nav nav-tabs nav-stacked">
      <li ng-repeat="pl in playlists">
        <a href="#/playlists/{{pl.id}}">
          <strong>{{pl.name}}</strong>
          <span ng-show="pl.songs.length" class="pull-right">{{pl.songs.length}}</span>
        </a>
      </li>
    </ul>

    <form class="form-inline" ng-show="newPlaylist" ng-submit="createPlaylist()">
      <input class="input-medium" required type="text" ng-model="newPlaylist.name" />
      <button class="btn btn-success">ok</button>
    </form>
    <button class="btn btn-block" ng-click="newPlaylist = {}">New Playlist</button>
  </div>
<%- endview %>


<%- startview('playlists/show') %>
    <div class="cell">
      <h5>{{playlist.name}}</h5>

      <ul class="nav nav-tabs nav-stacked">
        <li ng-repeat="song in playlist.songs">
        <a href="#/songs/{{song.id}}"> <strong>{{song.name}}</strong> <br /> {{song.artist}} </a>
        </li>
      </ul>

    </div>
<%- endview %>



