<%- startview('settings') %>
<div class="settings cell">
  <h1>Settings</h1>
  <ul>
    <li>Font face: serif / sans-serif</li>
    <li>Font size</li>
    <li>Invert colors: light / dark</li>
  </ul>
</div>
<%- endview %>
