<%- startview('songs/index') %>
  <div ng-include="'navbar.html'"></div>

  <ul class="songs">
    <li ng-repeat="song in songs | orderBy: name | filter: songSearch | filter: firstLetter | limitTo: 500">
      <a href="#/songs/{{song.id}}"> <strong>{{song.name}}</strong> <br /> {{song.artist}} &nbsp;</a>
    </li>
  </ul>

<%- endview -%>


<%- startview('songs/show') %>
  <div ng-include="'navbar.html'"></div>

  <div class="cell">
    <h3>{{song.name}}</h3>
    <h4>{{song.artist}}</h4>
    <hr />
    <article ng-bind-html-unsafe="htmlLyrics"></article>
    <hr />
    <a ng-hide="favs.contains(song.id)" class="btn btn-primary" ng-click="favs.add(song.id)"><i class="icon-star icon-white"></i> Star</a>
    <a ng-show="favs.contains(song.id)" class="btn" ng-click="favs.remove(song.id)"><i class="icon-star-empty"></i> Unstar</a>
  </div>

<%- endview -%>

