<%- startview('songs/index') %>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner" style="padding: 0 10px;">
      <div class="btn-group pull-right">
        <button class="btn btn-inverse" ng-show="letter != 'a'" ng-click="prevPage()">{{prevLetter | uppercase}}</button>
        <button class="btn btn-inverse disabled">{{letter | uppercase}}</button>
        <button class="btn btn-inverse" ng-show="letter != 'z'" ng-click="nextPage()">{{nextLetter | uppercase}}</button>
      </div>
      <form class="navbar-search">
        <input type="text" class="input-small search-query" ng-model="searchTerm" placeholder="Search">
      </form>
    </div>
  </div>
  <div style="margin-top: 40px;"></div>


  <div class="alert" ng-show="searchTerm && searchTerm.length < 3">
    <strong>Please type at least 3 letters to search</strong><br />
  </div>

  <ul class="nav nav-tabs nav-stacked">
    <li ng-repeat="song in songs | orderBy: name | filter: songSearch | filter: firstLetter | limitTo: 500">
    <a href="#/songs/{{song.id}}"> <strong>{{song.name}}</strong> <br /> {{song.artist}} &nbsp;</a>
    </li>
  </ul>

<%- endview -%>


<%- startview('songs/show') %>

  <div class="cell">
    <h5>{{song.name}}</h5>
    <h6><a href="#/artists/{{song.artistId}}">{{song.artist}}</a></h6>
    <div ng-bind-html-unsafe="htmlLyrics"></div>
    <hr />
    <div ng-show="playlistPicker">
      <p>Add to playlists</p>
      <div ng-repeat="playlist in playlists">
        <button class="btn btn-block" ng-click="addSongToPlaylist(song, playlist)">{{playlist.name}}</button>
      </div>

      <hr />
    </div>
    <a class="btn btn-block" ng-click="playlistPicker = true"><i class="icon-list"></i> Add to playlist</a>
  </div>

<%- endview -%>

