<%- startview('songs/index') %>

  <div class="search">
    <input ng-change="updateSearch(searchTerm)" ng-model="searchTerm" placeholder="Search"></div>
  </div>

  <div class="alert" ng-show="searchTerm.length > 0 && searchTerm.length < 3">
    <strong>Keep typing</strong><br>
    Type at least 3 letters.
  </div>

  <div class="alert" ng-show="onlyFavs && favs.list().length == 0">
    <strong>You have no favorites.</strong><br>
    You can add a favorite by clicking the "star" button at the bottom of any song page.
  </div>


  <ul class="songs">
    <li ng-repeat="song in songs | orderBy: name | filter: rootFilter">
      <a ng-click="showSong(song)"> <strong>{{song.name}}</strong> <br /> {{song.artist}} &nbsp;</a>
    </li>
  </ul>

<%- endview -%>




<%- startview('songs/show') %>

  <div class="cell">
    <h3>{{song.name}}</h3>
    <h4>{{song.artist}}</h4>
    <hr />
    <article ng-bind-html-unsafe="simpleFormat(song.lyrics)"></article>
    <hr />
    <a ng-hide="favs.contains(song.id)" class="btn btn-primary" ng-click="favs.add(song.id)"><i class="icon-star icon-white"></i> Star</a>
    <a ng-show="favs.contains(song.id)" class="btn" ng-click="favs.remove(song.id)"><i class="icon-star-empty"></i> Unstar</a>
  </div>

<%- endview -%>

