<%- startview('home') %>
<div class="home">

  <div class="banner">
    <div class="cell" style="text-align: center;">
      <img src="img/logo.png">
    </div>
    <a href="#/songs">Songs</a>
    <a href="#">Search</a>
    <a href="#/favs">Favorites</a>
    <a href="#/about">About</a>
  </div>

</div>

<%- endview %>





