<%- startview('home') %>
<div class="home">

  <div class="banner">
    <div class="container">
      <img src="img/logo.png">
    </div>
  </div>


  <!--desktop-->
  <div class="visible-desktop visible-tablet">

    <div class="container">
      <div class="cell pull-left">
        <img src="img/preview.png">
      </div>
      <div class="cell">
        <h4>1,700 bluegrass songs in the palm of your hand.</h4>
      </div>
    </div>

  </div>


  <!--mobile-->
  <div class="visible-phone">
    <div class="cell">
      <h4>(phone only splash screen)</h4>
    </div>
  </div>


</div>

<%- endview %>





