<%- startview('home') %>
<div class="home">

  <div class="visible-desktop">

    <div class="banner">
      <div class="container">
        <img src="img/logo.png">
      </div>
    </div>

    <div class="container">
      <div class="cell pull-left">
        <img src="img/preview.png">
      </div>
      <div class="cell">
        <h4>1,700 bluegrass songs in the palm of your hand.</h4>
      </div>
    </div>

  </div>


  <div class="visible-phone">
    Phone Homescreen
  </div>


</div>

<%- endview %>





