<%- startview('home') %>
<div class="home">

  <div class="visible-desktop">
    Web Homescreen
  </div>

  <div class="visible-phone">
    Phone Homescreen
  </div>

  <div>rendered: <%= new Date().toString() %></div>
  <div>songs: {{songs.length}}</div>

</div>

<%- endview %>





