<!doctype html>
<html lang="en" ng-app="pickbook" <%- manifestTag %>>
<head>

  <meta charset="utf-8">
  <title>pickbook</title>

  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="apple-touch-icon" href="img/iphone_icon.png" />
  <link rel="apple-touch-startup-image" href="img/iphone_splash.png" />

  <link rel="stylesheet" href="style.css"/>
  <link rel="stylesheet" href="vendor/add2home.css"/>

</head>
<body>

  <div id="topbar">
    <a href='#/home'>Home</a> <a href='#/songs'>Songs</a>
  </div>

  <div ng-view></div>

  <% include _welcome %>
  <% include _songs %>
  <% include _favs %>
  <% include _about %>
  <% include _settings %>


  <!--<script src="vendor/hammer.js"></script>-->
  <script src="vendor/angular.js"></script>
  <script src="vendor/underscore.js"></script>
  <script src="vendor/add2home.js"></script>
  <script src="compiled/pickbook.js"></script>
</body>
</html>

